<!-- Contacto -->
    <div class="page-section" id="info">
        <div class="container">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.5124943241876!2d-3.605018084699146!3d37.188054979870465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fcc2bfc70981%3A0xb5b22c8467215b0f!2sCervezas%20Alhambra!5e0!3m2!1ses!2ses!4v1669286647366!5m2!1ses!2ses"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6">
                    <br />
                    <h2>Contacto</h2>
                    <p>Email: info@ticketpro.es</p>
                    <p>Teléfono: (+34) 6549873219</p>
                    <br />
                    <h2>Horario</h2>
                    <p>De Lunes a Viernes de 10:00 a 14:00 y de 16:00 a 20:00</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">TicketPro &copy;</div>
                <div class="col-lg-4 my-3 my-lg-0"><a class="link-dark text-decoration-none me-3">Privacy
                        Policy</a></div>
                <div class="col-lg-4 text-lg-end"><a class="link-dark text-decoration-none">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>