<!DOCTYPE html>
<html lang="en">

{{> head}}

<body id="page-top">
    {{> navigation}}

    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <!--loadPage() and shoeEvent();-->
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Eventos disponibles</h2>
                <br></br> <!-- salto de línea-->
            </div>
            <div class="row" id="events">
                <!--muestra el array de eventos-->

                {{#events}}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="event/{{id}}">
                                    <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/portfolio/1.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{titleEvent}}</div>
                            </div>
                        </div>
                    </div>
                {{/events}}

                {{^events}}
                    <div class="text-center">
                        <h3 class="section-heading text-uppercase">No hay eventos disponibles</h3>
                        <br></br>
                    </div>
                {{/events}}

            </div>
        </div>
        <!-- Botón añadir evento-->
        <div class="btnAdd">
            <button class="btn btn-primary btn-xl text-uppercase" onclick="loadMore()">Cargar más</button>
            <a class="btn btn-primary btn-xl text-uppercase" href="new_event.html">Añadir evento</a>
        </div>
    </section>

    {{> footer}}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>